<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>用户引导页.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD54C63E1D884BD400D5EDD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD54C6571D884BD500D5EDD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD54C6621D884BD500D5EDD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
