<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITableView没有数据时等待图 类别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD3C095B1DE0800A009AF166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD3C09741DE0800B009AF166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD3C097F1DE0800B009AF166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
