<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIAlertViewBlock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BDFEF5271E07803A004DB12C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDFEF5401E07803A004DB12C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDFEF54B1E07803A004DB12C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
