<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JD</key>
	<array>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>10</string>
				</dict>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>4</string>
				</dict>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>6</string>
				</dict>
			</array>
			<key>Dimage</key>
			<string>0</string>
			<key>dianming</key>
			<string>我的小铺</string>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>10</string>
				</dict>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>4</string>
				</dict>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>6</string>
				</dict>
			</array>
			<key>Dimage</key>
			<string>0</string>
			<key>dianming</key>
			<string>我的小铺</string>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>10</string>
				</dict>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>4</string>
				</dict>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>6</string>
				</dict>
			</array>
			<key>Dimage</key>
			<string>0</string>
			<key>dianming</key>
			<string>我的小铺</string>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>10</string>
				</dict>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>4</string>
				</dict>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>6</string>
				</dict>
			</array>
			<key>Dimage</key>
			<string>0</string>
			<key>dianming</key>
			<string>我的小铺</string>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>10</string>
				</dict>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>4</string>
				</dict>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>6</string>
				</dict>
			</array>
			<key>Dimage</key>
			<string>0</string>
			<key>dianming</key>
			<string>我的小铺</string>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>1</string>
					<key>shu</key>
					<string>10</string>
				</dict>
				<dict>
					<key>price</key>
					<string>50</string>
					<key>chose</key>
					<string>1</string>
					<key>shu</key>
					<string>4</string>
				</dict>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>1</string>
					<key>shu</key>
					<string>6</string>
				</dict>
			</array>
			<key>Dimage</key>
			<string>1</string>
			<key>dianming</key>
			<string>我的小铺</string>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>10</string>
				</dict>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>4</string>
				</dict>
				<dict>
					<key>price</key>
					<string>100</string>
					<key>chose</key>
					<string>0</string>
					<key>shu</key>
					<string>6</string>
				</dict>
			</array>
			<key>Dimage</key>
			<string>0</string>
			<key>dianming</key>
			<string>我的小铺</string>
		</dict>
	</array>
</dict>
</plist>
