<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIView-XIB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD10D6841D98C65000594919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD10D69D1D98C65000594919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD10D6A81D98C65000594919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
